* {
  box-sizing: border-box;
}

body {
  margin: 12;
  padding: 12;
  width: 100vw;
}

navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a {
  float: left;
  display: block;
  color: #FFFFFF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
